header {
    .posicion {
        margin-top: 10px;
        margin-right: 10px;
        background-color: lightgray;
    }
    .styleItmesNav{
        .itemsNav {
            font-family:'Roboto', sans-serif;
            border: $nav_border_active_black;
            border-radius: 10px;
            text-align: center;
            font-size: 1.5rem;
            color: $color_white;
            margin-right: $margin_right_5;
            margin-left: $margin_left_5;
            transition: border 0.2s;
            
            &:hover {
                border: $nav_border_active_white;
                color: black;
                font-weight: bold;
            }
        }
        
        .itemActivo {
            border: $nav_border_active_white;
            color: black;
            font-weight: bold;
        }
    }
}

@media (min-width:651px) and (max-width:1000px) {

    header {
        .styleItmesNav {
            .itemsNav {
                font-size: 1.5rem;
            }
        }

        .logoSize {
            width: 300px;
            height: auto;
        }
    }
}

@media (max-width:650px) {

    header {
        .styleItmesNav{
            .itemsNav {
                font-size: 1rem;
            }
        }

        .logoSize {
            width: 150px;
            height: auto;
        }
    }
}