
// Colours
$color_gray: gray;
$color_white: white;

// Spacing
$margin_right_5: 5px;
$margin_left_5: 5px;

//Border
$nav_border_active_white: solid 1px  white;
$nav_border_active_black: solid 1px  black;

//Size
$font_size_7:7rem;